@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');



/*
      ### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 600

      ### Body, Call-to-actions

- Family: [Open Sans]
- Weights: 400, 700

- Mobile: 375px
- Desktop: 1440px

- Font size: 18px
*/
:root {
   --Pink: hsl(322, 100%, 66%);
   --Pale-Cyan: hsl(193, 100%, 96%);
   --Dark-Cyan: hsl(192, 100%, 9%);
   --Grayish-Blue: hsl(208, 11%, 55%);
   --Poppins: 'Poppins';
   --Open-Sans: 'Open Sans';
}

* {
   max-width: 375px;
   padding: 0;
   margin: 0;
}

body, html {   
   font-family: var(--Open-Sans);
   box-sizing: border-box;
}

body {
   background-color: rgba(250, 250, 250, 0.089);

}

h1, h2, h3 {
   font-family: var(--Poppins);
   text-shadow: -.3px -.3px 2px rgba(150, 150, 150, 0.26);
}

               /* HEADER */
header {
   background-image: url(../imagens/fundo-mobile.svg);
   background-color: var(--Pale-Cyan);
}

.page-top {   
   display: flex; 
   justify-content: space-between;
   padding: 20px 14px 35px 14px;
}

.logo img {
   width: 103px;
   padding-top: 5px;
}

.button-try-it button {
      background-color: white;
      border: none;
      padding: 5px 25px;
      border-radius: 20px;
      box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.192);
}

.button-try-it button:hover {
   background-color: rgba(255, 255, 255, 0.829);
   box-shadow: 2px 2px 3px rgb(211, 211, 211);
}

.button-try-it button a {
   text-decoration: none;
   color: black;
   font-size: 12px;
   font-weight: bold;
}

/* TEXTO */
.text-header {
   padding: 40px ;
   text-align: center;
}

.text-header h1 {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 800;
}

.text-header p {
   padding-bottom: 35px;
   font-weight: 400;
}

/*BOTAO ROSA GET STARTED FOR FREE*/
.get-started-for-free button {
   padding: 12.8px 57px;
   background-color: var(--Pink);
   box-shadow: 1px 1px 10px rgba(131, 131, 131, 0.39);
   border: none;
   border-radius: 25px;
}

.get-started-for-free button:hover {
   background-color: hsl(322, 87%, 54%);
}

.get-started-for-free button a {
   text-decoration: none;
   color: white;
   font-size: 12px;
   font-weight: bold;
}

/* IMAGEM HEADER */
.img-header {
   display: flex;
   justify-content: center;
   margin-top: 10px;
   padding-bottom: 35px;
}

.img-header > img {
   width: 300px;
}


            /* MAIN CONTENT */
main {
   padding: 10px;
}


/* CADA SESSAO */
.section {
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 1px 1px 10px rgba(192, 192, 192, 0.308);
   margin: 3rem 1rem ;
}

.img-main {
   display: flex;
   justify-content: center;
}

.img-main > img {
   width: 220px;
   padding: 3.5rem .5rem;
}

/* TEXTO */
.text-main {
   text-align: center;
   font-size: 14px;
   padding: 2rem;
}

.parag {
   color: var(--Grayish-Blue);
   padding-top: 15px;
   font-size: 14px;
}


            /* ASIDE - BOTAO NA PARTE DE BAIXO DO SITE */
aside {
   background-color: white;
   margin: 1rem;
   margin-top: 3rem;
   padding-top: 40px;
   padding-bottom: 40px;
   border-radius: 20px;
   text-align: center;
   box-shadow: 1px 1px 10px rgba(192, 192, 192, 0.308);
}


.aside-box h1 {
   font-size: 17px;
   margin-bottom: 1.4rem;
}

/*ja estilizei o botao la em cima*/




            /* FOOTER */
footer{
   background-color: var(--Dark-Cyan);
}

/* LOGO DO SITE */
.logo-footer {
   padding-top: 3rem;
   color: white;
   font-size: 30px;
   font-family: cursive;
   padding-left: 35px;
}

.logo-footer img {
   width: 135px;
}

/* FALE CONOSCO */

.contato {
   display: flex;
   margin: 1rem;
   color: white;
   font-weight: 300;
}

.contato p a {
   text-decoration: none;
   color: white;
   font-size: 14px;

}

.material-symbols-outlined {
   margin-right: 16px;
}


/* SOBRE NOS */
#about-us {
   margin: 1rem;
   margin-top: 3rem;
   font-weight: 300;
}

#about-us a {
   text-decoration: none;
   
   color: white;
}

#about-us > p {
   margin-bottom: .8rem;
}


/* PARTE DE BAIXO - LOGO E COPY RIGHT */

/* REDES SOCIAIS JUNTAS*/
.social-media {
   padding-top: 2rem;
   display: flex;
   justify-content: center;
}

/* REDES SOCIAIS SEPARADAS */
.logo-redes img {
   width: 30px;   
   margin: 5px;
}

/* COPYRIGHT */

#copyright {
   text-align: center;
   color: white;
   font-size: 10px;
   font-weight: 100;
   padding: 1rem;
   padding-bottom: 3rem;
}


